<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="{{url_for('static', filename='jquery.js')}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4.4.1-dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">

</head>

<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>
    {% block content %}
        
    {% endblock %}
    <script src="{{url_for('static', filename='validation.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.min.js')}}"></script>
   
</body>
</html>